.btn-success{
  transform: scale(0.75);
}
mat-button-toggle-group{
  transform: scale(0.75);
  background-color: white;
  .btnEdit{
      background-color: #007bff;
      color:white;
  }
  .btnDanger{
      background-color: #dc3545;
      color:white;
  }
  .btnDetail{
    background-color:#D98A99;
    color:white;
    // #BF4513
}
}
.btnPlan{
  background-color:   #00897b;
  color:white;
}
.btnHepsi{
  background-color: #3e2723;
  color:white;
}
.btnTalep{
  background-color: #ff5722;
  color:white;
}
.btnBekleme{
  background-color:#9399B1;
  color:white;
}
.btnIptal{
  background-color:#FFA500;
  color:white;
}
.btnDevam{
  background-color:#ce93d8;
  color:white;
}
.btnAriza{
  background-color:#d50000;
  color:white;
}
.btnPeriyodik{
  background-color:#90a4ae;
  color:white;
}
.btnTamamlandi{
  background-color: #4dd0e1;
  color:white;
}