<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-rose">
                <h4 class="card-title ">Bakım Tablosu - Bakım Planını Temsil Eder</h4>
                 <div class="card-category">
                  <mat-form-field>
                    <mat-label>Arama</mat-label>
                    <input
                      matInput
                      (keyup)="applyFilter($event)"
                      placeholder="Arayın..."
                      #input
                    />
                  </mat-form-field>
                 </div>
              </div>
              <div class="card-body">
                  <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" matSort>
                      <!-- ID Column -->
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
                        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
                      </ng-container>

                      <!-- Ad Column -->
                      <ng-container matColumnDef="ad">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ad</th>
                        <td mat-cell *matCellDef="let row">{{ row.ad }}</td>
                      </ng-container>

                      <!-- Açıklama Column -->
                      <ng-container matColumnDef="aciklama">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Açıklama</th>
                        <td mat-cell *matCellDef="let row">{{ row.aciklama }}</td>
                      </ng-container>
                      <!-- Tarihi Column -->
                      <ng-container matColumnDef="tarihi">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tarihi</th>
                        <td mat-cell *matCellDef="let row">{{ row.tarihi | date: 'dd.MM.yyyy'}}</td>
                      </ng-container>

                      <!-- kullanici1 Column -->
                      <ng-container matColumnDef="sorumlu1">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sorumlu</th>
                        <td mat-cell *matCellDef="let row">{{ row.sorumlu1 }}</td>
                      </ng-container>

                      <!-- kullanici2 Column -->
                      <ng-container matColumnDef="sorumlu2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sorumlu</th>
                        <td mat-cell *matCellDef="let row">{{ row.sorumlu2 }}</td>
                      </ng-container>

                       <!-- gerceklestiren1 Column -->
                       <ng-container matColumnDef="gerceklestiren1">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gercekleştiren</th>
                        <td mat-cell *matCellDef="let row">{{ row.gerceklestiren1 }}</td>
                      </ng-container>

                       <!-- gerceklestiren2 Column -->
                       <ng-container matColumnDef="gerceklestiren2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gercekleştiren</th>
                        <td mat-cell *matCellDef="let row">{{ row.gerceklestiren2 }}</td>
                      </ng-container>

                       <!-- gerceklestiren3 Column -->
                       <ng-container matColumnDef="gerceklestiren3">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gercekleştiren</th>
                        <td mat-cell *matCellDef="let row">{{ row.gerceklestiren3 }}</td>
                      </ng-container>

                         <!-- gerceklestiren4 Column -->
                         <ng-container matColumnDef="gerceklestiren4">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Gercekleştiren</th>
                          <td mat-cell *matCellDef="let row">{{ row.gerceklestiren4 }}</td>
                        </ng-container>

                         <!-- gerceklestiren4 Column -->
                         <ng-container matColumnDef="actions">
                          <th mat-header-cell *matHeaderCellDef>

                            <button mat-raised-button class="btn-success btn-sm"   (click)="createNewTask()">
                              <mat-icon>add_task</mat-icon>
                            </button>
                          </th>
                          <td mat-cell *matCellDef="let row">
                            <mat-button-toggle-group>
                              <mat-button-toggle (change)="editTask(row)" class="btnEdit">
                                <mat-icon>edit_task</mat-icon>
                              </mat-button-toggle>
                              <mat-button-toggle (change)="deleteTask(row.id)" class="btnDanger">
                                <mat-icon>delete_task</mat-icon>
                              </mat-button-toggle>
                            </mat-button-toggle-group>
                          </td>
                        </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                      <!-- Row shown when there is no matching data. -->
                      <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="3">
                          No data matching the filter "{{ input.value }}"
                        </td>
                      </tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
</div>
