.card-header {
  background-color: #f44336 !important ;
}
.card-title, .card-category {
  color: white !important ;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}
